* {
  margin: 0;
  padding: 0;
}

.container {
  /* same as solution, height was not needed */
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
  text-align: center;
}

.container div {
  /* no changes needed*/
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  /* grid orientation was right, and added grid was right text align is off */
  grid-column: 1 / 3;
  background-color: #393f4d;
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;
}

.menu ul {
  /* grid layout was right, li item could have stayed with removed list-style-type */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 16px;
  list-style: none;
  text-align: center;
}

.sidebar {
  /* grid column was not specified, columns were not defined */
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #C50208;
  display: grid;
  gap: 50px;
}

/* .side-content and .photo got changed in one with , and there were just grid display and align-items(?) center */
.sidebar .photo {
  grid-column: 1 / 2;
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  grid-column: 1 / 2;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  /* no change needed */
  background-color: #C50208;
}

.nav ul {
  /* by list-style type is missing, grid display is right, centered text-align not needed */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 16px;
  list-style: none;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  /* grid-columns were not specified, display and columns are right */
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  /* there should be no grid, height is right */
  display: grid;
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  /* padding should be added - 5px */
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  /* no changes */
  font-size: 18px;
  text-align: center;
}

.footer {
  /* right */
  grid-column: 1 / 3;
  background-color: #393f4d;
}

.footer p {
  /* no changes */
  font-size: 13px;
  font-weight: normal;
}